<div class="sidebar">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <div class="sidebar_header">
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
    <div class="sidebar_content">
        <p><img id="akselmo-icon" src="/assets/images/icon/icon.png" alt="akselmo_icon"></p>
        <p>{{- site.description | escape -}}</p>
        {%- if page_paths -%}
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
              <p><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></p>
              {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
        <p>Socials:</p>
        {%- include social.html -%}
   </div>

</div>
