{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">
    <li class="nav"><a href="https://akselmo.itch.io">Itch.io</a></li>
    <li class="nav"><a rel="me" href="https://tilde.zone/@aks">Mastodon</a></li>
    <li class="nav"><a href="https://codeberg.org/akselmo">Codeberg</a></li>
    <li class="nav"><a href="https://www.twitch.tv/akselmo">Twitch</a></li>
    <li class="nav"><a href="https://matrix.to/#/#aksdev-space:matrix.akselmo.dev">Matrix</a></li>
    <li class="nav"><a href="mailto:akselmo@akselmo.dev">Email</a></li>
</ul>
