---
---

@import "fira_code.css";
@import "{{ site.theme }}";

/** Basic styling */

@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../assets/fonts/ibm-plex-mono/IBMPlexMono-Regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../assets/fonts/ibm-plex-mono/IBMPlexMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/ibm-plex-mono/IBMPlexMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../assets/fonts/ibm-plex-mono/IBMPlexMono-Regular.woff') format('woff'), /* Modern Browsers */
		 url('../assets/fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../assets/fonts/ibm-plex-mono/IBMPlexMono-Regular.svg#AnonymousPro') format('svg'); /* Legacy iOS */
  }
  

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../assets/fonts/ibm-plex-sans/IBMPlexSans-Regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../assets/fonts/ibm-plex-sans/IBMPlexSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/ibm-plex-sans/IBMPlexSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../assets/fonts/ibm-plex-sans/IBMPlexSans-Regular.woff') format('woff'), /* Modern Browsers */
		 url('../assets/fonts/ibm-plex-sans/IBMPlexSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../assets/fonts/ibm-plex-sans/IBMPlexSans-Regular.svg#AnonymousPro') format('svg'); /* Legacy iOS */
  }

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../assets/fonts/atkinson-hyperlegible/EOT/Atkinson-Hyperlegible-Regular-102.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../assets/fonts/atkinson-hyperlegible/EOT/Atkinson-Hyperlegible-Regular-102.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/atkinson-hyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../assets/fonts/atkinson-hyperlegible/WOFF/Atkinson-Hyperlegible-Regular-102a.woff') format('woff'), /* Modern Browsers */
		 url('../assets/fonts/atkinson-hyperlegible/TTF/Atkinson-Hyperlegible-Regular-102.ttf.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../assets/fonts/atkinson-hyperlegible/SVG/Atkinson-Hyperlegible-Regular-102.svg#AnonymousPro') format('svg'); /* Legacy iOS */
  }



body {
	font: 400 16px/1.5 'Atkinson Hyperlegible';
	color: #e6e6e6;
	background-color: #030d11;
	background-repeat: repeat;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#akselmo-icon {
	max-width: 90%;
	border: none;
	border-radius: 2px;
}


/** Links */

a {
	color: #28daf1;
	text-decoration: none;
}

a:visited {
	color: #008c9e;
}

a:hover {
	color: rgb(125, 247, 247);
	text-decoration: underline;
}

.social-media-list a:hover {
	text-decoration: none;
}

.social-media-list a:hover .username {
	text-decoration: underline;
}


/** Blockquotes */

blockquote {
	color: #6cca2d;
	border-left: 4px solid #319480;
	font: 400 16px/1.5 'Atkinson Hyperlegible';
}

/** Code formatting */
pre,
code {
	border: none;
	font: 400 14px/1.5 'Fira Code';
	border-radius: 2px;
	background-color: #010303 !important;
	white-space: pre-wrap;
	word-break: keep-all;
}

.svg-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	fill: #9bf5e9;
	padding-right: 5px;
	vertical-align: text-top;
}



/** Tables */

table {
	margin-bottom: 30px;
	width: 100%;
	text-align: left;
	color: #333333;
	border-collapse: collapse;
	border: 1px solid #319480;
}

table tr:nth-child(even) {
	background-color: #242424;
}


table th {
	background-color: #030d11;
	border: 1px solid #319480;
	border-bottom-color: #319480;
	border-radius: 5px;
}

table td {
	border: 1px solid #319480;
}


/** Site header */

.site-header {
	border-top: 5px solid #319480;
	border-bottom: 1px solid #319480;
	min-height: 55.95px;
	position: relative;
}

.site-title,
.site-title:visited {
	color: #00eeff;
}


.site-nav .menu-icon {
	color: rgb(92, 92, 92);
}

.site-nav .page-link {
	color: #319480;
	line-height: 1.5;
}

@media screen and (max-width: 800px), screen and (max-height:600px) {

	#akselmo-icon{
		max-width: 20%
	}

	.page-content{
		padding: 0px !important;
	}

	.wrapper {
		padding: 0px !important;
	}
	.site-nav {
		position: absolute;
		top: 9px;
		right: 15px;
		background-color: #000000;
		border: 1px solid #00dacf;
		text-align: right;
	}
	.nav {
		float: left;
		padding-top: 0px !important;
		margin-right: 10px;
		margin-left: 10px;
	}
	.social-media-list {
		display: inline-block;
		width: fit-content;
	}
	.site-nav .menu-icon>svg {
		fill: #000000;
	}

}

//Custom settings
.wrapper {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-right: $spacing-unit;
	padding-left: $spacing-unit;
}

.page-content {
    padding-top: 0px;
}
.sidebar {
//	background-color: #030d11 !important;
	width: 200px;
	height: 100%;
	position: fixed;
	z-index: 1;
	overflow-x: hidden;
	padding: 5px;
	border-width: 2px;
	border-style: none;
	border-style: none dashed none none;
	//border-radius: 5px;
	border-color: #3c3c3c;
}
.content {
//	background-color: #030d11 !important;
	margin-left: 220px;
	//border-style: none none none dashed;
	border-width: 2px;
	padding: 10px;
	padding-left: 20px;
	//border-radius: 5px;
	border-color: #464646;
}

.sidebar_header
{
	width: 100%;
//	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sidebar_content
{
	text-align: center;
}

.post-title {
    padding-top: 10px;
}

@media only screen and (max-width: 800px), only screen and (max-height:600px) {
	.sidebar{
		position:relative;
		margin-top: 10px;
		margin-bottom: 10px;
		width:auto;
		height:auto;
		border-style: none none dashed none !important;
	}
	.content {
		margin-left: 0px;
		border-style: none !important;
	}

}


/** Site footer */

.site-footer {
	border-top: 1px solid #00262b;
	padding: 30px 0;
}


.footer-col-wrapper {
	font-size: 12px;
	color: #828282;
	margin-left: -15px;
}



/** Page content */

.post-list {
	margin-left: 0;
	list-style: none;
}

.post-meta {
	font-size: 12px;
	color: #828282;
}

/** Syntax highlight: monokai:  https://raw.githubusercontent.com/jwarby/pygments-css/master/monokai.css */
.highlight { background: #272822; }
.highlighter-rouge .highlight { background: #272822; }
pre, code { background-color: #272822; }
.highlight pre { background-color: #272822; }
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */

#cusdis, #dark {
	font: 400 16px/1.5 'Atkinson Hyperlegible' !important;
	color: rgb(216, 216, 216) !important;
	background-color: #030d11 !important;
}

.crispy {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
