<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {%- include head.html -%}
    <body>
        <script data-goatcounter="https://akselmo.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {%- include sidebar.html -%}   
                <div class="content">
                    {{ content }}
                </div>
                
            </div>
        </main>
    </body>
</html>
